html, body {
    padding: 0;
    margin: 0;
}

section {
    margin-top: 10px;
    position: relative;;
}

p {
    background-color: turquoise;
}

.task-one p::before {
    content: 'Once upon a time ...';
    background-color: blueviolet;
    position: absolute;
}

.task-one p::after {
    content: '...The End';
    background-color: blueviolet;
    position: absolute;
}

.task-two img {
    width: 200px;
    height: 200px;
    position: absolute;
    clip-path:polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.task-three img {
    position: absolute;
    top: 200px;
    transform: rotate(180deg);
    width: 200px;
    height: 200px;
}
